<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="p-4">
    <div class="border border-gray-900">
      {{ content | safe }}
      {% include "footer.njk" %}
      {% block script %}{% endblock %}
    </div>
  </body>
</html>