---
layout: base.njk
---
<header>
  {% include "navbar.njk" %}
</header>
<main id="{{ title }}" class="flex flex-col items-center justify-center w-full">
  <div class="self-center w-full px-8 pt-8">
    <h1 class="mb-10 tracking-widest text-gray-700">{{ title }}</h1>
    <div class="text-lg font-light font-serif text-black">
      {{ content | safe }}
    </div>
  </div>
</main>